.sidebar {
    margin-top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.main {
    margin-top: 49px;
    margin-left: -4px;
}
table td button{
    width: 45px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
}
/*newadd.html*/
/*.nadd-wrapper{
    max-width: 1000px;
}*/